<!-- The vendor's show view should list all the sweets they sell. -->
<!-- In The vendor's show view there should be a form that will allow us to associat the sweet with a vendor. -->
<h3><%= @vendor.name %></h3><br>
<%= @vendor.sweets.map do |sweet| %>
<li>
    <%= link_to sweet.name, sweet_path(vendor) %>
</li>
<% end  %>
<br>
<hr>
<h4>Add a Sweet -</h4><br>
<%= form_for @vendor_sweet do |f| %>
  <%= f.collection_select(:sweet_id, @sweets, :id, :name) %>
  <%= f.text_field :comment %>
<% end %>
